@font-face {
    font-family: 'norse';
    src:
        local('Norse'), 
        url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    margin: 0;
    padding: 0;
}

body {
    background: url(/assets/background-image.jpg);
    background-position: right;
    color: white;
    font-family: 'norse';
    box-sizing: border-box;
    margin: 0px;
}

.active-form {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
}


.library-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 5rem;
    margin: 15px 0px;
}

.library {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, clamp(350px, 2fr, 800px)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    background-color: rgba(38, 13, 13, .8);
    background-color: rgba(0, 0, 0, .8);
}

.card {
    background-color: rgb(94, 18, 18);
    background-color: hsl(0, 49%, 15%);
    min-width: 350px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.card h2 {
    text-align: center;
}

.book-read {
    text-align: center;
}

.del-btn {
    background-color: rgb(2, 65, 5);
    background-color: #000;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    border-radius: 5px;
}

.new-book-btn {
    font-family: 'norse';
    font-size: 2rem;
    border-radius: 10px;
    padding: 15px;
    outline: none;
    margin: 30px 0px;
}

.new-book-btn:hover {
    background-color: black;
    color: white;
    outline: none;
}

.toggle-form {
    font-family: 'norse';
    font-size: 2rem;
    border-radius: 10px;
    padding: 15px;
    outline: none;
    margin: 30px 0px;
}

.toggle-form:hover {
    background-color: black;
    color: white;
    outline: none;
}

.invisible {
    visibility: hidden;
    position: absolute;
}

.form-container {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, .6);
}

.form-container fieldset {
    border: none;
}

.form-container li {
    list-style: none;
    margin: 15px;
}

.library-area {
    grid-column: 2/3;
    grid-row: 1/2;
}

.form-area {
    grid-column: 1/2;
    grid-row: 1/2;
}